*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: auto;
}

#testa {
  background-color: black;
}

#skin {
  background-color: lightpink;
}

#eyes {
  background-color: lightblue;
}

#red{
  background-color: red;
}

#blue{
  background-color: blue;
}

#S{
  background-color: yellow;
}
